<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>craft</title>
</head>
<body class="craft-body">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <link rel="stylesheet" href="css/style.css">
    
    <div class="craft-main-wrapp">
        <header class="craft-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="img/logo.png" alt="logo">
                    </div>
                    <div class="col-sm-6 header-right-col">
                        <ul class="change-lang">
                            <li class="active">
                                <a href="">CZ</a>
                            </li>
                            <li>
                                <a href="">EN</a>
                            </li>
                            <li>
                                <a href="">RU</a>
                            </li>
                        </ul>

                        <div class="dropdown-menu_block">
                            <a href="#" class="dropdown-toggle">
                            Username <img src="img/user.png" class="dropdown-menu_avatar" alt="">
                                <img src="img/arr-down.png" class="dropdown-menu_arrow" alt="">
                            </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="">Профиль</a>
                            </li> 
                            <li>
                                <a href="">Мои заказы</a>
                            </li> 
                            <li>
                                <a href="">Брендирование</a>
                            </li> 
                            <li>
                                <a href="">FAQ</a>
                            </li> 
                            <li>
                                <button>Выйти</button>
                            </li> 
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="craft-main-content">
           <div class="container">
                <div class="craft-main-content_top-row">
                    <a href="img/photo.png" data-lightbox="example-set" class="craft-main-content_top-row_photo">
                        <img src="img/photo.png" alt="">
                    </a>
                    
                    <div class="craft-main-content_top-row_description">
                        <h3 class="desription_product-title">Title</h3>
                        <div class="desription_product-blocks">
                            <div class="desription_product-block">
                                <div class="desription_product-block_title">Group:</div>
                                <div class="desription_product-block_value">Groupname</div>
                            </div>
                            <div class="desription_product-block">
                                <div class="desription_product-block_title">Code (SKU):</div>
                                <div class="desription_product-block_value">001 006</div>
                            </div>
                            <div class="desription_product-block">
                                <div class="desription_product-block_title">Price:</div>
                                <div class="desription_product-block_value price">54.00 EUR</div>
                            </div>
                        </div>
                        
                        <div class="desription_product-blocks">
                            <div class="desription_product-block">
                                <div class="desription_product-block_title">Material:</div>
                                <div class="desription_product-block_value">Leather</div>
                            </div>
                            <div class="desription_product-block">
                                <div class="desription_product-block_title">Size:</div>
                                <div class="desription_product-block_value">20x20x20</div>
                            </div>
                            <div class="desription_product-block">
                                <div class="desription_product-block_title">Manufacturer:</div>
                                <div class="desription_product-block_value">Chine</div>
                            </div>
                        </div>
                        
                        <div class="desription_product-blocks">
                            <div class="desription_product-block">
                                <div class="desription_product-block_title">Brending:</div>
                                <div class="desription_product-block_value">Yes?</div>
                            </div>
                        </div>
                        
                         <div class="craft-main-content_top-row_descriptio_text">
                           <div class="desription_product-block_title">Description:</div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia veniam,
                             enim, obcaecati inventore unde sint ratione vero numquam magnam illum quae optio
                             beatae repudiandae dicta sapiente delectus, voluptatibus odit.
                             atis officia veniam
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia veniam,
                             enim, obcaecati inventore unde sint ratione vero numquam magnam illum quae optio
                             beatae repudiandae dicta sapiente delectus, voluptatibus odit.
                             atis officia veniam
                             Lorem ipsum dolor sit amet, consectetu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia veniam,
                             enim, obcaecati inventore unde sint ratione vero numquam magnam illum quae optio
                             beatae repudiandae dicta sapiente delectus, voluptatibus odit.
                             atis officia veniam
                             Lorem ipsum dolor sit amet, consectetu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia veniam,
                             enim, obcaecati inventore unde sint ratione vero numquam magnam illum quae optio
                             beatae repudiandae dicta sapiente delectus, voluptatibus odit.
                             atis officia veniam
                             Lorem ipsum dolor sit amet, consectetu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia veniam,
                             enim, obcaecati inventore unde sint ratione vero numquam magnam illum quae optio
                             beatae repudiandae dicta sapiente delectus, voluptatibus odit.
                             atis officia veniam
                             Lorem ipsum dolor sit amet, consectetu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia veniam,
                             enim, obcaecati inventore unde sint ratione vero numquam magnam illum quae optio
                             beatae repudiandae dicta sapiente delectus, voluptatibus odit.
                             atis officia veniam
                             Lorem ipsum dolor sit amet, consectetu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, animi architecto blanditiis cum dolorum exercitationem fugiat impedit libero magnam magni molestias, nostrum nulla odio odit placeat quis recusandae tempora ullam.
                             <span class="read-more">... <span>more</span></span>

                             <span class="descr-close">close</span>
                        </div>
                        
                        <table class="craft-main-content_top-row_description_table">
                            <tr class="table_header">
                                <td>Склад</td>
                                <td>Доступно</td>
                                <td>Доставка</td>
                                <td>Количество</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Прага</td>
                                <td>48 шт.</td>
                                <td>30 дней</td>
                                <td>
                                    <input type="text" value="0" class="description_table_quantity">
                                </td>
                                <td>
                                    <div class="description_table_add_button">Добавить</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Армения</td>
                                <td>1 284 шт.</td>
                                <td>10 дней</td>
                                <td>
                                    <input type="text" value="0" class="description_table_quantity">
                                </td>
                                <td>
                                    <div class="description_table_add_button">Добавить</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
           </div>
           
           <div class="container craft-main-content_bottom-row">
               <div class="craft-main-content_bottom-row_kat">
                  <h4 class="craft-main-content_bottom-row_title">Категории</h4>
                  
                  <div class="craft-main-content_bottom-row_kat_wrapp">
                     <div class="craft-main-content_bottom-row_single-kat active">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat active">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                     <div class="craft-main-content_bottom-row_single-kat">Панно / Panel</div>
                     <div class="craft-main-content_bottom-row_single-kat">Пепельницы / Ashtrays</div>
                     <div class="craft-main-content_bottom-row_single-kat">Письменные комплекты / Writing sets</div>
                  </div>
                   
               </div>
               <div class="craft-main-content_bottom-row_products">
                  <h4 class="craft-main-content_bottom-row_title">Товары</h4>
                  <h4 class="craft-main-content_bottom-row_title">Цена</h4>
                   
                   <div class="craft-main-content_bottom-row_products_wrap">
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">1 232&#36</span>
                     </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">1 232&#36</span>
                     </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">1 232&#36</span>
                     </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">1 232&#36</span>
                     </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">1 232&#36</span>
                     </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">1 232&#36</span>
                     </div>
                       <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">232&#36</span>
                    </div>
                     <div class="craft-main-content_bottom-row_single-product">
                         001 001 Polyhedron 
                         <span class="price">1 232&#36</span>
                     </div>
                  </div>
               </div>
               <div class="craft-main-content_bottom-row_order">
                  <h4 class="craft-main-content_bottom-row_title">Заказ</h4>
                   
                   <table class="craft-main-content_bottom-row_order_table">
                       <tr class="table_header">
                           <td>ID</td>
                           <td>Наименование</td>
                           <td>Доставка</td>
                           <td>Цена</td>
                           <td>Количество</td>
                           <td>Сумма</td>
                           <td></td>
                       </tr>
                       
                       <tr>
                           <td>001</td>
                           <td>Prod</td>
                           <td>10 дней</td>
                           <td>144&#36</td>
                           <td>
                               <input type="text" class="order_table_quantity">
                           </td>
                           <td>144&#36</td>
                           <td> 
                               <div class="del-btn"></div>
                           </td>
                       </tr>
                       <tr>
                           <td>001</td>
                           <td>Prod</td>
                           <td>10 дней</td>
                           <td>144&#36</td>
                           <td>
                               <input type="text" class="order_table_quantity">
                           </td>
                           <td>144&#36</td>
                           <td> 
                               <div class="del-btn"></div>
                           </td>
                       </tr>
                   </table>
                   
                   <div class="total-sum_block">
                       <span class="total-sum_title">Total:</span>
                       <span class="total-sum_number">92.00 &#36</span>
                       <div>
                           <a href="" class="total-sum_link">Оформить заказ</a>
                       </div>
                        
                   </div>
               </div>
           </div>
        </div>
    </div>
    
    
    <footer class="craft-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="img/footer-logo.png" class="footer-logo" alt="">
                    
                    <div class="footer-info">
                        <div>Amikon Praha s.r.o.</div>
                        <div>Na belidle 302/27, 15000 Praha 5, Prague, Czech Republic</div>
                        <div>IC: 24661431</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul class="change-lang change-lang__footer">
                            <li class="active">
                                <a href="">CZ</a>
                            </li>
                            <li>
                                <a href="">EN</a>
                            </li>
                            <li>
                                <a href="">RU</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="overlay-for-description"></div>

    <script src="js/jquery3.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/main.js"></script>
</body>
</html>